Source: pika-hyprland-settings
Section: metapackages
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: pika-hyprland-settings
Architecture: amd64
Depends: breeze, pika-theme, greetd, ags, pika-fonts
Conflicts: pika-gnome-settings, pika-kde-settings, gdm3
Provides: pika-settings
Section: metapackages
Priority: optional
Description:  PikaOS Hyprland Default Config
